//font stack

//colors
$cyan: #00a9ff;
$magenta: #ff0c3e;
$yellow: #fde338;
$key: #0e1752;
$white: #fafafa;

//breakpoints
$breakpoint-small-width: max-width 400px;
$breakpoint-medium-width: max-width 760px;
$breakpoint-large-width: max-width 1000px;