/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../jeet/index";
@import "compass/reset";
@import "variables";
@import "breakpoint";
@import "compass";
@import "compass/css3";

//MIXINS
// @include edit();

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

/**
 *Type Family
 */
@include font-face(Klinic, font-files("../fonts/klinicslabbook-webfont.woff", "../fonts/klinicslabbook-webfont.ttf", "../fonts/klinicslabboook-webfont.svg"), "../fonts/klinicslabbook-webfont.eot", normal, normal);
@include font-face(Klinic, font-files("../fonts/klinicslabbookit-webfont.woff", "../fonts/klinicslabbookit-webfont.ttf", "../fonts/klinicslabboookit-webfont.svg"), "../fonts/klinicslabbookit-webfont.eot", normal, italic);

@include font-face(Klinic, font-files("../fonts/klinicslabbold-webfont.woff", "../fonts/klinicslabbold-webfont.ttf", "../fonts/klinicslabbold-webfont.svg"), "../fonts/klinicslabbold-webfont.eot", bold, bold);
@include font-face(Klinic, font-files("../fonts/klinicslabboldit-webfont.woff", "../fonts/klinicslabboldit-webfont.ttf", "../fonts/klinicslabboldit-webfont.svg"), "../fonts/klinicslabbold-webfont.eot", bold, italic);

@include font-face(KlinicMed, font-files("../fonts/klinicslabmedium-webfont.woff", "../fonts/klinicslabmedium-webfont.ttf", "../fonts/klinicslabmedium-webfont.svg"), "../fonts/klinicslabmeduim-webfont.eot", normal, normal);
@include font-face(KlinicMed, font-files("../fonts/klinicslabmediumit-webfont.woff", "../fonts/klinicslabmediumit-webfont.ttf", "../fonts/klinicslabmediumit-webfont.svg"), "../fonts/klinicslabmeduimit-webfont.eot", normal, italic);

@include font-face(KlinicLight, font-files("../fonts/klinicslablight-webfont.woff", "../fonts/klinicslablight-webfont.ttf", "../fonts/klinicslablight-webfont.svg"), "../fonts/klinicslablight-webfont.eot", normal, normal);
@include font-face(KlinicLight, font-files("../fonts/klinicslablightit-webfont.woff", "../fonts/klinicslablightit-webfont.ttf", "../fonts/klinicslablightit-webfont.svg"), "../fonts/klinicslablightit-webfont.eot", normal, italic);



/**
 *Custom Mixins
 */
@mixin folio-squares($bgcolor, $size, $font-family, $font-style, $font-weight) {
	background-color: $bgcolor;
	font-family: $font-family;
	font-style: $font-style;
	font-weight: $font-weight;
	color: $white;
	text-align: center;
	font-size: $size;
	a, a:hover {
		text-decoration: none;
		color: $white;
	}
}

/**
 *Global Styles
 */
html {
	font-size:100%;
	height: 101%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#page {
	@include center(75%);
		@include breakpoint($breakpoint-small-width){
 		@include center(90%);	
 }
}

a {
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: none;
		color: #ddd;
	}
}


header{
	padding: 50px 0;
	  @include breakpoint($breakpoint-small-width){
		padding: 40px 20px;
	}
}

h1 {
	font-family: Klinic;
	font-weight: bold;
	font-size: 3em;
	word-spacing: 0.25em;
	letter-spacing: 1px;
	float: left;
}

h2 {
	font-family: Klinic;
	font-size: 2em;
}

nav {
	outline: 3px soild red;
	font-family: Klinic;
	font-size: 1.5em;
	text-align: right;
	word-spacing: 1em;
}

.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
}

.full-width {
  @include span(1/2);
  height: 500px;
  // height: 70%;
  // width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
  @include breakpoint($breakpoint-small-width){
  	@include span(1);
  	height:400px;
  }
}

.half-width {
	@include span(1/4);
	height: 500px;
	// height: 70%;
	// width: 25%;
	float: left;
	overflow: hidden;
	position: relative;
	@include breakpoint($breakpoint-small-width){
		@include span(1/2);
		height: 400px;
	}
}

.quarter-width {
	@include span(1/4);
	height: 250px;
	// height: 35%;
	// width: 25%;
	overflow: hidden;
	position: relative;
		@include breakpoint($breakpoint-small-width){
		@include span(1/2);
		height: 200px;
	}
}

#C, #M, #Y, #K {
transition: opacity 0.15s linear;
	&:hover {
		opacity: 0.7;
	}
}

#squares-wrapper {
	clear: both;
}

#C {
	@include folio-squares($cyan, 450px, Klinic, bold, bold);
			@include breakpoint($breakpoint-small-width){
				@include folio-squares($cyan, 350px, Klinic, italic, 200);
	}
}

#M {
	overflow: hidden;
	@include folio-squares($magenta, 450px, Klinic, bold, bold);
			@include breakpoint($breakpoint-small-width){
				@include folio-squares($magenta, 350px, Klinic, italic, 200);
	}
}

#Y {
	overflow: hidden;
	@include folio-squares($yellow, 250px, Klinic, bold, bold);
			@include breakpoint($breakpoint-small-width){
				@include folio-squares($yellow, 150px, Klinic, italic, 200);
	}
}

#K {
	overflow: hidden;
	@include folio-squares($key, 250px, Klinic, bold, bold);
			@include breakpoint($breakpoint-small-width){
				@include folio-squares($key, 150px, Klinic, italic, 200);
	}
}

#ampersand,
#curly-brace,
#ellipses,
#at-symbol {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/**
*Resume Styles
*/


#resume-alpha {
	margin-left: 50px;
}


#resume-nav {
	position: fixed;
	left: 20px;
	font-size: 24px;
	font-family: klinic;
	text-align: center;
	float: left;
	img {
		border-radius: 999px;
		width: 185px;
		height: 185px;
	}
}

.resume {
	font-family: Klinic;
	font-size: 24px;
	margin: 24px 0;
	h3 {
		font-weight: bold;
		font-size: 42px;
		color: $cyan;
	}
	#about-me{
		p{
			font-size: 36px;
		}
	}

	h4{
		font-size: 24px;
		font-weight: bold;
		line-height: 24px;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.bold-italic {
		font-style: italic;
		font-weight: bold;
	}
}

/**
*Press Gallery Styles
*/

#thumb {
	img {
		height: 30%;
		width: 30%;
		margin: 10px;
		float: left;
	}
}

// #display {
// 	#large {
// 		@include center(50%);
// 		height: 30%;
// 		width: 30%;
// 	}
// }


/**
*footer styles
*/
footer {
	padding: 20px 0;
	font-family: klinic;
	text-align: center;
	clear: both;
	.social {
		font-size: 40px;
		padding: 0 10px;
	}
	@include breakpoint($breakpoint-small-width){
			padding: 60px;
	}
}


