/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*MIXINS*/
/*GLOBAL STYLES*/
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
}

#page {
  position: relative;
  *zoom: 1;
  width: auto;
  max-width: 75%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  padding-top: 15px;
}
#page:before, #page:after {
  content: '';
  display: table;
}
#page:after {
  clear: both;
}

h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 2em;
  font-style: italic;
  color: #8d1700;
  padding-bottom: 24px;
}

p {
  font-size: 1.25em;
  line-height: 1.25em;
}

/*MAIN STYLES*/
header {
  width: 100%;
  height: 100%;
  text-align: center;
}
header h1 {
  border-top: 5px solid #004d61;
  font-size: 3.25em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  padding: 50px 0;
  color: #606060;
}
header h1 .head-color {
  color: #004d61;
}

nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 50px 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  float: left;
}
nav:before, nav:after {
  content: '';
  display: table;
}
nav:after {
  clear: both;
}
nav a {
  font-size: 1.25em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  color: #606060;
}
nav a div {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  width: auto;
  display: inline-block;
  padding: 0.5em 1.5em;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: transparent;
}
nav a div:before, nav a div:after {
  content: '';
  display: table;
}
nav a div:after {
  clear: both;
}
nav a div:hover {
  background-color: #cfcfcf;
  color: #fff8b0;
}
nav a div:active {
  background-color: #606060;
  color: #fff164;
}
nav form .search {
  width: 20%;
  height: 100%;
  padding: 0.65em 0;
  font-size: 1em;
  margin: 0;
  appearance: none;
  background: rgba(0, 0, 0, 0);
  border: 0px solid #dbdbdb;
  border-left: 1px solid #cfcfcf;
}
nav form .search:focus {
  appearance: none;
}
nav form .arrow-left {
  position: relative;
  background: #004d61;
  border: 1px solid #004d61;
}
nav form .arrow-left:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 77, 97, 0);
  border-right-color: #004d61;
  border-width: 0.75em;
  margin-top: -0.75em;
}
nav form .search-button {
  position: relative;
  font-family: "foundation-icons";
  font-size: 1em;
  width: 3.5em;
  padding: 0.65em;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  border: 1px solid #004d61;
  background-color: #004d61;
  color: white;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
}
nav form .search-button:hover {
  background-color: #cfcfcf;
  color: #004d61;
  border: 1px solid #cfcfcf;
}

#col-alpha,
#col-beta,
#col-gamma,
#col-delta {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  color: #606060;
}
#col-alpha:before, #col-alpha:after,
#col-beta:before,
#col-beta:after,
#col-gamma:before,
#col-gamma:after,
#col-delta:before,
#col-delta:after {
  content: '';
  display: table;
}
#col-alpha:after,
#col-beta:after,
#col-gamma:after,
#col-delta:after {
  clear: both;
}
#col-alpha:last-child,
#col-beta:last-child,
#col-gamma:last-child,
#col-delta:last-child {
  margin-right: 0%;
}

#col-alpha {
  float: left;
  text-align: justify;
}

#col-beta img {
  width: 100%;
}

#col-gamma img {
  width: 100%;
}

#col-delta {
  padding: 0 0 0 2em;
  text-align: justify;
}

ul#map-nav {
  margin: 0 auto;
  clear: both;
}
ul#map-nav .tab {
  width: 11em;
  background-color: #004d61;
  color: white;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-weight: bold;
  padding: 1em;
  margin: 0 1.5em 0 0;
  float: left;
  text-align: center;
}

.map-default {
  content: url(../images/Map-All.png);
}

.map-phl {
  content: url(../images/map-phl.png);
}

.map-mo {
  content: url(../images/map-mo.png);
}

.map-ca {
  content: url(../images/map-ca.png);
}

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;
  clear: both;
  background-color: #004d61;
  color: white;
  text-align: right;
}
footer #icons {
  width: auto;
  height: 4em;
  margin-left: 24px;
}
footer #icons a {
  color: white;
}
footer #icons i {
  padding: 0 15px;
  font-size: 2.5em;
  font-family: "foundation-icons";
  float: left;
}
footer #icons i:active, footer #icons i:hover, footer #icons i:visited {
  color: white;
  text-decoration: none;
}
