//Font Stack
$forumsans: Futura, "Trebuchet MS", Arial, sans-serif;
$forumserif: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
//colors

$forumgreen: #004d61;
$forumgrey: #606060;
$forumlightgrey: #CFCFCF;
$forumred: #8d1700;
$forumlightyellow: #fff8b0;
$forumyellow: #fff164;