/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "../jeet/index";
@import "compass/reset";
@import "variables";
@import "breakpoint";
@import "compass";
@import "compass/css3";

/*MIXINS*/


/*GLOBAL STYLES*/
body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 100%;
}

#page {
	position: relative;
	@include center(75%);
	height: 100%;
	padding-top: 15px;
}

h2{
		font-family: $forumsans;
		font-size: 2em;
		font-style: italic;
		color: $forumred;
		padding-bottom: 24px;
	}

	p {
		font-size: 1.25em;
		line-height: 1.25em;
	}

/*MAIN STYLES*/


header {
	width: 100%;
	height: 100%;
	text-align: center;
	h1 {
		border-top: 5px solid $forumgreen;
		font-size: 3.25em;
		font-family: $forumsans;
		font-weight: bold;
		padding: 50px 0;
		color: $forumgrey;
		.head-color {
			color: $forumgreen;
		}
	}
}

nav {
	@include box-sizing(border-box);
	@include center(100%);
	width: 100%;
	height: 100%;
	margin: 0 0 50px 0;
	border-top: 1px solid $forumlightgrey;
	border-bottom: 1px solid $forumlightgrey;
	float: left;
		a {
		font-size: 1.25em;
		font-family: $forumserif;
		color: $forumgrey;
		div {
			@include span(1/5);
			width: auto;
			display: inline-block;
			padding: 0.5em 1.5em;
			transition: background-color 0.25s ease-in-out,
								  color 0.25s ease-in-out;
			background-color: transparent;
			&:hover {
				background-color: $forumlightgrey;
				color: $forumlightyellow;
			}
			&:active {
				background-color: $forumgrey;
				color: $forumyellow;
			}
		}
	}

	form {
		.search{
			width: 20%;
			height: 100%;
			padding:0.65em 0;
			font-size: 1em;
			margin: 0;
			appearance: none;
	    background:rgba(0, 0, 0, 0);
	    border:0px solid #dbdbdb;
	    border-left: 1px solid $forumlightgrey;
	    &:focus {
	    	appearance: none;
	    }
		}

		.arrow-left {
			position: relative;
			background: #004d61;
			border: 1px solid #004d61;
			&:after {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(0, 77, 97, 0);
				border-right-color: #004d61;
				border-width: 0.75em;
				margin-top: -0.75em;
			}
		}

		.search-button {
	    position: relative;
	    font-family: "foundation-icons";
			font-size: 1em;
			width: 3.5em;
			padding:0.65em;
			left: 0;
			right: 0;
			height: 100%;
			margin: 0;
	    border: 1px solid $forumgreen;
	    background-color:$forumgreen;
	    color: white;
	    transition: background-color 0.25s ease-in-out,
									color 0.25s ease-in-out,
									border 0.25s ease-in-out;
	    &:hover {
	    	background-color:$forumlightgrey;
	      color:$forumgreen;
	      border: 1px solid $forumlightgrey;
	    }
		}
	}
}




#col-alpha,
#col-beta,
#col-gamma,
#col-delta  {
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	@include box-sizing (border-box);
	@include col(1/2);
	color: $forumgrey;
}

#col-alpha {
	float: left;
	text-align: justify;
}

#col-beta {
	img {
		width: 100%;
	}
}

#col-gamma {
	img {
			width: 100%;
		}
}

 #col-delta {
 	padding: 0 0 0 2em;
 	text-align: justify;
 }


ul#map-nav {
	margin: 0 auto;
	clear: both;
	.tab {
		width: 11em;
		background-color: $forumgreen;
		color: white;
		font-family: $forumserif;
		font-weight: bold;
	  padding: 1em;
	  margin:0 1.5em 0 0;
	  float: left;
	  text-align: center
	}	
}

.map-default {
	content: url(../images/Map-All.png);
}

.map-phl {
	content: url(../images/map-phl.png);
}

.map-mo {
	content: url(../images/map-mo.png);
}

.map-ca {
	content: url(../images/map-ca.png);
}


footer {
	@include box-sizing (border-box);
	padding: 10px 0;
	width: 100%;
	clear: both;
	background-color: $forumgreen;
	color: white;
	text-align: right;

	#icons{
		// display: block;
		width: auto;
		height: 4em;
		margin-left: 24px;

		a {
			color: white;
		}

		i {
			padding: 0 15px;
			font-size: 2.5em;
			font-family: "foundation-icons";
			float: left;
			&:active, &:hover, &:visited {
				color: white;
				text-decoration: none;
			}
		}
	}	
}
